html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, address, big, em, img, s, small, strike, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Spartan";
  vertical-align: baseline;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  --main-text: black;
  --secondary-text: rgb(163, 163, 163);
  --main-bg: #ffccd2;
}

body {
  background-color: whitesmoke;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: whitesmoke;
}

nav img {
  position: relative;
  width: 3rem;
  left: 80%;
  margin-top: .2rem;
}

nav #menu {
  position: absolute;
  width: 15rem;
  height: 100vh;
  background-color: var(--main-bg);
  top: 0;
  left: -15rem;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

nav #menu .menu-close {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  top: 0rem;
  left: 15rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

nav #menu .menu-close span {
  display: block;
  position: absolute;
  height: 1.5px;
  width: 50%;
  background: black;
  margin-left: .8rem;
  margin-top: 1rem;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

nav #menu .menu-close span:nth-child(1) {
  top: 0px;
}

nav #menu .menu-close span:nth-child(2),
nav #menu .menu-close span:nth-child(3) {
  top: 8px;
}

nav #menu .menu-close span:nth-child(4) {
  top: 16px;
}

nav #menu .menu-close.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

nav #menu .menu-close.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav #menu .menu-close.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav #menu .menu-close.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

nav #menu .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  text-align: center;
}

nav #menu .menu-items ul li {
  margin-top: 1rem;
}

nav #menu .menu-items ul li a {
  font-size: .9rem;
  font-weight: 600;
  padding: .5rem;
  color: black;
  position: relative;
  width: 100%;
}

nav #menu .menu-items ul li a:hover {
  color: black;
  text-decoration: none;
}

nav #menu .menu-items ul li a::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(380%);
          transform: translateY(380%);
  width: 0;
  left: 0;
  height: .1rem;
  margin-top: .3rem;
  background: currentColor;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

nav #menu .menu-items ul li a:hover::after {
  width: 100%;
}

nav #menu .menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav #menu .menu-social a {
  margin: 1rem;
  font-size: 1.2rem;
  color: var(--main-text);
}

nav .menu-close.open {
  left: 30rem;
}

nav #menu.open {
  left: 0;
}

#landing {
  padding: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7rem;
  background-color: whitesmoke;
}

#landing h1 {
  color: var(--main-bg);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

#landing h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

#landing p {
  margin: 2rem 0;
  font-weight: 200;
  z-index: 2;
}

#landing ul {
  z-index: 2;
}

#landing ul li {
  margin-top: 1rem;
  font-size: .8rem;
  z-index: 2;
}

#landing ul li i {
  color: var(--main-bg);
  margin: .5rem;
  z-index: 2;
}

#landing div {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#landing div a {
  font-size: .7rem;
  padding: .7rem;
  background-color: var(--main-bg);
  color: black;
  text-decoration: none;
  margin: 0 2rem;
}

#landing div a:hover {
  background-color: white;
  color: var(--main-bg);
  border: 0.1rem solid var(--main-bg);
}

#landing img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 60%;
  -webkit-box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
  margin: 2rem 0;
}

#book-info-landing {
  padding: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
  background-color: white;
}

#book-info-landing h1 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 4rem;
  font-weight: 600;
}

#book-info-landing .book-info-category div {
  margin-bottom: 1.5rem;
  padding: 1.3rem;
  -webkit-box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
  -webkit-transition: -webkit-box-shadow 0.7s ease-in-out;
  transition: -webkit-box-shadow 0.7s ease-in-out;
  transition: box-shadow 0.7s ease-in-out;
  transition: box-shadow 0.7s ease-in-out, -webkit-box-shadow 0.7s ease-in-out;
}

#book-info-landing .book-info-category div:hover {
  -webkit-box-shadow: inset 0 0 3px rgba(55, 84, 170, 0), inset 0 0 3px rgba(255, 255, 255, 0), 3px 3px 3px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 3px rgba(55, 84, 170, 0), inset 0 0 3px rgba(255, 255, 255, 0), 3px 3px 3px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
}

#book-info-landing .book-info-category div i {
  color: var(--main-bg);
  font-size: 1.6rem;
  margin-bottom: .7rem;
}

#book-info-landing .book-info-category div h3 {
  font-size: 1.3rem;
}

#book-info-landing .book-info-category div p {
  font-size: .8rem;
}

.testimonio {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.glider {
  width: 90%;
}

.glider figure {
  background-color: white !important;
  display: block;
  margin: 1rem;
  padding: .5rem;
}

.glider figure blockquote {
  font-size: .8rem;
}

.glider figure figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.glider figure figcaption img {
  width: 30%;
  border-radius: 50%;
  padding: .5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.glider figure figcaption h1 {
  font-size: .7rem;
  line-height: 1rem;
}

.glider figure figcaption h1 span {
  font-size: .6rem;
  font-weight: 200;
}

.glider-dot {
  background-color: #b8b8b8 !important;
  outline: none !important;
}

.glider-dot:focus,
.glider-dot:hover {
  background: black !important;
  outline: none !important;
}

.glider-dot.active {
  background: var(--main-bg) !important;
  outline: none !important;
}

#info-about-author {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-color: whitesmoke;
}

#info-about-author img {
  border-radius: 50%;
  width: 30%;
  margin-top: 2rem;
}

#info-about-author h1 {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1rem;
}

#info-about-author h2 {
  font-size: 1rem;
  text-align: center;
  margin: 1rem 0 3rem 0;
}

#info-about-author p {
  margin: 1rem;
  font-size: .8rem;
  font-weight: 200;
  line-height: 1.2rem;
}

#info-about-author a {
  font-size: 1rem;
  padding: .7rem;
  background-color: var(--main-bg);
  color: black;
  text-decoration: none;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

#info-about-author a:hover {
  background-color: white;
  color: var(--main-bg);
  border: 0.1rem solid var(--main-bg);
}

#faqs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--main-bg);
  padding-bottom: 3rem;
}

#faqs h1 {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 5rem;
}

#faqs div {
  padding: 2rem;
}

#faqs div h2 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#faqs div p {
  font-size: .8rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: palevioletred;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.footer .menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.footer .menu-social a {
  margin: 1rem;
  font-size: 1.8rem;
  color: var(--main-text);
}

.footer p {
  font-size: .8rem;
}

@media screen and (min-width: 770px) {
  nav img {
    left: 90%;
    margin-top: .7rem;
  }
  #landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 3rem;
  }
  #landing h1 {
    font-size: 1.9rem;
  }
  #landing h2 {
    font-size: 1.5rem;
  }
  #landing p {
    font-weight: 1.1rem;
    margin-top: 4rem;
    width: 50%;
  }
  #landing ul {
    width: 50%;
  }
  #landing ul li {
    margin-top: 1rem;
    font-size: .8rem;
    z-index: 2;
  }
  #landing ul li i {
    color: var(--main-bg);
    margin: .5rem;
    z-index: 2;
  }
  #landing div {
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  #landing div a {
    font-size: 1rem;
    padding: .7rem;
    margin: 0 1rem;
  }
  #landing img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 19rem;
    position: absolute;
    opacity: .9;
    left: 55%;
    top: 19rem;
  }
  #book-info-landing {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #book-info-landing h1 {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 1.5rem;
  }
  #book-info-landing .book-info-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #book-info-landing .book-info-category div {
    margin-bottom: 1.5rem;
    margin: .8rem;
    width: 14rem;
    border: 0.01rem solid #e6e6e6;
    border-radius: 5%;
  }
  #book-info-landing .book-info-category div i {
    color: var(--main-bg);
    font-size: 1.6rem;
    margin-bottom: .7rem;
  }
  #book-info-landing .book-info-category div h3 {
    font-size: 1.3rem;
  }
  #book-info-landing .book-info-category div p {
    font-size: .8rem;
  }
  .testimonio {
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
  }
  .glider {
    width: 90%;
  }
  .glider figure {
    margin: 1rem;
    padding: .5rem;
  }
  .glider figure blockquote {
    font-size: 1rem;
  }
  .glider figure figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .glider figure figcaption img {
    width: 20%;
  }
  .glider figure figcaption h1 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .glider figure figcaption h1 span {
    font-size: .8rem;
  }
  #info-about-author {
    margin-top: 6rem;
  }
  #info-about-author h1 {
    font-size: 1.5rem;
    margin-top: 3rem;
  }
  #info-about-author h2 {
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0 3rem 0;
    padding: 2rem;
  }
  #info-about-author p {
    margin: 0;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.2rem;
    padding: 0 2rem 1rem 2rem;
  }
  #info-about-author a {
    font-size: 1.3rem;
    padding: .7rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  #faqs {
    padding-bottom: 3rem;
    padding: 0 2rem;
  }
  #faqs h1 {
    font-size: 1.5rem;
    margin-top: 5rem;
  }
  #faqs div {
    padding: 2rem;
  }
  #faqs div h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  #faqs div p {
    font-size: .8rem;
  }
  .footer .menu-social {
    margin-top: 2rem;
  }
  .footer .menu-social a {
    margin: 1rem;
    font-size: 1.8rem;
  }
  .footer p {
    font-size: .8rem;
  }
}

@media screen and (min-width: 1000px) {
  nav #menu {
    position: fixed;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: var(--main-bg);
    top: 0;
    left: 0;
    z-index: 20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav #menu .menu-close {
    display: none;
  }
  nav #menu .menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: .3rem;
    text-align: center;
    padding-right: 2rem;
  }
  nav #menu .menu-items ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav #menu .menu-items ul li {
    margin-top: 1rem;
  }
  nav #menu .menu-items ul li a {
    color: black;
    position: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  nav #menu .menu-social {
    display: none;
  }
  nav img {
    left: 1%;
    margin-top: .7rem;
    z-index: 30;
    position: fixed;
  }
  #landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 3rem;
  }
  #landing h1 {
    font-size: 1.9rem;
    margin-top: 4rem;
  }
  #landing h2 {
    width: 40%;
  }
  #landing p {
    width: 40%;
  }
  #landing ul {
    width: 40%;
  }
  #landing ul li {
    font-size: .8rem;
  }
  #landing ul li i {
    margin: .5rem;
  }
  #landing div {
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  #landing div a {
    font-size: 1rem;
    padding: .7rem;
    margin: 0 1rem;
  }
  #landing img {
    width: 30rem;
    opacity: 1;
    left: 48%;
    top: 22rem;
  }
  #book-info-landing {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #book-info-landing h1 {
    margin-top: 4rem;
  }
  #book-info-landing .book-info-category {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  #book-info-landing .book-info-category div {
    width: 17rem;
  }
  #book-info-landing .book-info-category div i {
    font-size: 1.6rem;
    margin-bottom: .7rem;
  }
  #book-info-landing .book-info-category div h3 {
    font-size: 1.3rem;
  }
  #book-info-landing .book-info-category div p {
    font-size: .8rem;
  }
  .testimonio {
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
  }
  .glider {
    width: 90%;
  }
  .glider figure {
    margin: 1rem;
    padding: 1rem;
    border: 0.05rem solid #bebebe;
    border-radius: 1rem;
  }
  .glider figure blockquote {
    font-size: 1rem;
  }
  .glider figure figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .glider figure figcaption img {
    width: 20%;
  }
  .glider figure figcaption h1 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .glider figure figcaption h1 span {
    font-size: .8rem;
  }
  #info-about-author {
    margin-top: 6rem;
  }
  #info-about-author h1 {
    font-size: 1.5rem;
    margin-top: 3rem;
  }
  #info-about-author h2 {
    padding: 2rem 5rem;
  }
  #info-about-author p {
    width: 70%;
  }
  #info-about-author a {
    font-size: 1.3rem;
    padding: .7rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  #faqs {
    padding-bottom: 3rem;
    padding: 0 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #faqs h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
    -webkit-transform: translateY(-13.5rem);
            transform: translateY(-13.5rem);
    position: absolute;
  }
  #faqs div {
    margin-top: 5rem;
    padding: 2rem;
    width: 20rem;
  }
  #faqs div h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  #faqs div p {
    font-size: .8rem;
  }
}

@media screen and (min-width: 1200px) {
  #landing h1 {
    font-size: 2.3rem;
  }
  #landing p {
    font-size: 1.2rem;
  }
  #landing ul {
    width: 40%;
  }
  #landing ul li {
    font-size: 1rem;
    line-height: 1rem;
  }
  #landing ul li i {
    margin: .2rem;
  }
  #landing img {
    width: 35rem;
    opacity: 1;
    left: 48%;
    top: 12rem;
  }
  #book-info-landing {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #book-info-landing h1 {
    margin-top: 4rem;
  }
  #book-info-landing .book-info-category {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  #book-info-landing .book-info-category div {
    width: 17rem;
  }
  #book-info-landing .book-info-category div i {
    font-size: 1.6rem;
    margin-bottom: .7rem;
  }
  #book-info-landing .book-info-category div h3 {
    font-size: 1.3rem;
  }
  #book-info-landing .book-info-category div p {
    font-size: .8rem;
  }
  .testimonio {
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
  }
  .glider {
    width: 90%;
  }
  .glider figure {
    margin: 1rem;
    padding: 1rem;
    border: 0.05rem solid #bebebe;
    border-radius: 1rem;
  }
  .glider figure blockquote {
    font-size: 1rem;
  }
  .glider figure figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .glider figure figcaption img {
    width: 20%;
  }
  .glider figure figcaption h1 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .glider figure figcaption h1 span {
    font-size: .8rem;
  }
  #info-about-author {
    margin-top: 6rem;
  }
  #info-about-author h1 {
    font-size: 1.5rem;
    margin-top: 3rem;
  }
  #info-about-author h2 {
    padding: 2rem 5rem;
  }
  #info-about-author p {
    width: 70%;
  }
  #info-about-author a {
    font-size: 1.3rem;
    padding: .7rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  #faqs {
    padding-bottom: 3rem;
    padding: 0 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #faqs h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
    -webkit-transform: translateY(-13.5rem);
            transform: translateY(-13.5rem);
    position: absolute;
  }
  #faqs div {
    margin-top: 5rem;
    padding: 2rem;
    width: 20rem;
  }
  #faqs div h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  #faqs div p {
    font-size: .8rem;
  }
}
/*# sourceMappingURL=main.css.map */