html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, address, big, em, img, s, small, strike, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Titillium Web";
  background-color: var(--blue-main);
  --blue-main: #100b22;
  --orange-main: rgb(224, 85, 31);
  --orange-rgba: rgba(224, 85, 31, 0.5);
  --glitch: #00ffff;
}

#main-body {
  overflow: hidden;
}

#main-body #hero {
  width: 100%;
  height: 100vh;
  position: absolute;
  border: 0.05rem solid var(--orange-rgba);
  margin: 1rem;
  height: 95%;
  width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}

#main-body #hero p {
  font-size: 3rem;
  color: white;
  position: absolute;
  -webkit-transform: translate(2rem, -18rem);
          transform: translate(2rem, -18rem);
  line-height: 1.3;
  font-weight: 900;
}

#main-body #hero .claudia {
  font-size: 3rem;
  color: white;
  padding: .2rem 1rem 0 1.9rem;
  margin-bottom: 14rem;
  position: relative;
  font-weight: 900;
}

#main-body #hero .claudia::before, #main-body #hero .claudia::after {
  padding: .2rem 1rem 0 1.9rem;
  color: white;
  content: attr(data-glitch);
  position: absolute;
  width: 90%;
  height: 90%;
  background: var(--blue-main);
  overflow: hidden;
  top: 0;
}

#main-body #hero .claudia::before {
  left: 3px;
  text-shadow: -2px 0 var(--orange-main);
  -webkit-animation-name: glitch-animation-1;
          animation-name: glitch-animation-1;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: reverse-alternate;
          animation-direction: reverse-alternate;
}

#main-body #hero .claudia::after {
  left: -3px;
  text-shadow: -2px 0 var(--glitch);
  -webkit-animation-name: glitch-animation-2;
          animation-name: glitch-animation-2;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: reverse-alternate;
          animation-direction: reverse-alternate;
}

#main-body #hero .more-info .fa-arrow-right {
  color: white;
  position: absolute;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  font-size: 4rem;
  left: 6rem;
  bottom: 9rem;
}

#main-body #hero .more-info p {
  font-size: .8rem;
  color: var(--orange-main);
  padding: 0;
  margin: 5.6rem 0 0 8.5rem;
  font-weight: 900;
}

#main-body #hero .menu-fixed {
  visibility: hidden;
  opacity: 0;
}

#main-body #hero .toggle-btn {
  position: fixed;
  margin: 1rem;
  width: 40px;
  height: 12px;
  z-index: 3;
  -webkit-transform: translate(15rem, -35rem);
          transform: translate(15rem, -35rem);
  cursor: pointer;
}

#main-body #hero .toggle-btn span.one {
  position: absolute;
  width: 33px;
  height: 2px;
  background: #fff;
}

#main-body #hero .toggle-btn span.two {
  position: absolute;
  width: 33px;
  height: 2px;
  background: #fff;
  margin-top: 12px;
}

#main-body #hero .menu {
  z-index: 2;
  position: absolute;
  background: var(--blue-main);
  height: 100vh;
  width: 100%;
  top: -100%;
  overflow: hidden;
}

#main-body #hero .menu .data {
  padding: 11rem 0 0 5rem;
  text-align: left;
}

#main-body #hero .menu .data ul li {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  position: relative;
  -webkit-transform: translateY(7rem);
          transform: translateY(7rem);
}

#main-body #hero .menu .data ul li a {
  color: white;
  position: relative;
  font-weight: 900;
}

#main-body #hero .menu .data ul li a:hover {
  color: var(--orange-main);
}

#main-body #hero .menu .data ul li a::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(380%);
          transform: translateY(380%);
  width: 0;
  left: 0;
  height: .3rem;
  background: currentColor;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

#main-body #hero .menu .data ul li a:hover::after {
  width: 100%;
}

#main-body #hero .info-about-me {
  padding: 1%;
}

#main-body #hero .info-about-me p {
  color: white;
  font-size: 1rem;
  line-height: 1.7;
  margin-top: -5rem;
  width: 80%;
  font-weight: 600;
}

#main-body #hero .info-about-me p .orange-strong-color {
  color: var(--orange-main);
  font-weight: ligther;
}

#main-body #hero .info-about-me .work-together-contact {
  margin-top: 14rem;
  font-size: 1rem;
}

#main-body #hero .info-about-me .work-together-contact a {
  color: #616161;
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
  font-size: 1.3rem;
  font-weight: 900;
}

#main-body #hero .info-about-me .work-together-contact a:visited {
  color: #616161;
}

#main-body #hero .info-about-me .work-together-contact a:hover {
  color: var(--orange-main);
}

#main-body #hero .social-media-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: .5rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

#main-body #hero .social-media-contact li a {
  color: white;
  position: relative;
  margin-right: 2rem;
  color: var(--orange-main);
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

#main-body #hero .social-media-contact li a:hover {
  color: white;
}

#main-body #hero .social-media-contact li a::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(380%);
          transform: translateY(380%);
  width: 0;
  left: 0;
  height: .3rem;
  background: currentColor;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

#main-body #hero .social-media-contact li a:hover::after {
  width: 100%;
}

@-webkit-keyframes glitch-animation-1 {
  0% {
    clip: rect(109px, 350px, 34px, 30px);
  }
  12.5% {
    clip: rect(128px, 350px, 77px, 30px);
  }
  25% {
    clip: rect(33px, 350px, 87px, 30px);
  }
  37.5% {
    clip: rect(59px, 350px, 49px, 30px);
  }
  50% {
    clip: rect(112px, 350px, 55px, 30px);
  }
  62.5% {
    clip: rect(20px, 350px, 57px, 30px);
  }
  75% {
    clip: rect(29px, 350px, 55px, 30px);
  }
  87.5% {
    clip: rect(13px, 350px, 47px, 30px);
  }
  100% {
    clip: rect(46px, 350px, 80px, 30px);
  }
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(109px, 350px, 34px, 30px);
  }
  12.5% {
    clip: rect(128px, 350px, 77px, 30px);
  }
  25% {
    clip: rect(33px, 350px, 87px, 30px);
  }
  37.5% {
    clip: rect(59px, 350px, 49px, 30px);
  }
  50% {
    clip: rect(112px, 350px, 55px, 30px);
  }
  62.5% {
    clip: rect(20px, 350px, 57px, 30px);
  }
  75% {
    clip: rect(29px, 350px, 55px, 30px);
  }
  87.5% {
    clip: rect(13px, 350px, 47px, 30px);
  }
  100% {
    clip: rect(46px, 350px, 80px, 30px);
  }
}

@-webkit-keyframes glitch-animation-2 {
  0% {
    clip: rect(21px, 350px, 62px, 30px);
  }
  12.5% {
    clip: rect(76px, 350px, 55px, 30px);
  }
  25% {
    clip: rect(83px, 350px, 14px, 30px);
  }
  37.5% {
    clip: rect(4px, 350px, 83px, 30px);
  }
  50% {
    clip: rect(133px, 350px, 44px, 30px);
  }
  62.5% {
    clip: rect(109px, 350px, 88px, 30px);
  }
  75% {
    clip: rect(127px, 350px, 11px, 30px);
  }
  87.5% {
    clip: rect(29px, 350px, 68px, 30px);
  }
  100% {
    clip: rect(56px, 350px, 52px, 30px);
  }
}

@keyframes glitch-animation-2 {
  0% {
    clip: rect(21px, 350px, 62px, 30px);
  }
  12.5% {
    clip: rect(76px, 350px, 55px, 30px);
  }
  25% {
    clip: rect(83px, 350px, 14px, 30px);
  }
  37.5% {
    clip: rect(4px, 350px, 83px, 30px);
  }
  50% {
    clip: rect(133px, 350px, 44px, 30px);
  }
  62.5% {
    clip: rect(109px, 350px, 88px, 30px);
  }
  75% {
    clip: rect(127px, 350px, 11px, 30px);
  }
  87.5% {
    clip: rect(29px, 350px, 68px, 30px);
  }
  100% {
    clip: rect(56px, 350px, 52px, 30px);
  }
}

@media screen and (min-width: 770px) {
  #main-body #hero {
    margin: 2rem;
    height: 90%;
    width: 91%;
  }
  #main-body #hero p {
    font-size: 6rem;
    -webkit-transform: translate(2rem, -18rem);
            transform: translate(2rem, -18rem);
    line-height: 1.3;
  }
  #main-body #hero .claudia {
    font-size: 6rem;
    padding: .2rem 1rem 0 1.9rem;
    margin-bottom: 10rem;
  }
  #main-body #hero .more-info .fa-arrow-right {
    font-size: 6rem;
    left: 9rem;
    bottom: 5rem;
  }
  #main-body #hero .more-info p {
    font-size: 1.3rem;
    margin: 7.5rem 0 0 14rem;
    letter-spacing: .2rem;
  }
  #main-body #hero .toggle-btn {
    display: none;
  }
  #main-body #hero .menu-fixed {
    visibility: visible;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-transform: translateY(-35rem);
            transform: translateY(-35rem);
    margin-left: 1rem;
  }
  #main-body #hero .menu-fixed li {
    font-size: 1rem;
    margin: 1rem;
    font-weight: 900;
  }
  #main-body #hero .menu-fixed li .active {
    color: var(--orange-main);
  }
  #main-body #hero .menu-fixed li a {
    color: white;
    position: relative;
  }
  #main-body #hero .menu-fixed li a:hover {
    color: var(--orange-main);
  }
  #main-body #hero .menu-fixed li a::after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(380%);
            transform: translateY(380%);
    width: 0;
    left: 0;
    height: .3rem;
    background: currentColor;
    -webkit-transition: width 0.3s ease-in;
    transition: width 0.3s ease-in;
  }
  #main-body #hero .menu-fixed li a:hover::after {
    width: 100%;
  }
  #main-body #hero .menu {
    display: none;
  }
  #main-body #hero .info-about-me {
    padding: 5%;
  }
  #main-body #hero .info-about-me p {
    color: white;
    font-size: 1.6rem;
    line-height: 1.2;
    margin-top: -5rem;
    width: 80%;
    font-weight: 600;
  }
  #main-body #hero .info-about-me .work-together-contact {
    margin-top: 15rem;
    font-size: 1.6rem;
  }
  #main-body #hero .info-about-me .work-together-contact a {
    font-size: 2rem;
  }
  @-webkit-keyframes glitch-animation-1 {
    0% {
      clip: rect(65px, 500px, 64px, 30px);
    }
    12.5% {
      clip: rect(23px, 500px, 29px, 30px);
    }
    25% {
      clip: rect(6px, 500px, 12px, 30px);
    }
    37.5% {
      clip: rect(91px, 500px, 18px, 30px);
    }
    50% {
      clip: rect(141px, 500px, 20px, 30px);
    }
    62.5% {
      clip: rect(114px, 500px, 82px, 30px);
    }
    75% {
      clip: rect(93px, 500px, 14px, 30px);
    }
    87.5% {
      clip: rect(9px, 500px, 16px, 30px);
    }
    100% {
      clip: rect(131px, 500px, 12px, 30px);
    }
  }
  @keyframes glitch-animation-1 {
    0% {
      clip: rect(65px, 500px, 64px, 30px);
    }
    12.5% {
      clip: rect(23px, 500px, 29px, 30px);
    }
    25% {
      clip: rect(6px, 500px, 12px, 30px);
    }
    37.5% {
      clip: rect(91px, 500px, 18px, 30px);
    }
    50% {
      clip: rect(141px, 500px, 20px, 30px);
    }
    62.5% {
      clip: rect(114px, 500px, 82px, 30px);
    }
    75% {
      clip: rect(93px, 500px, 14px, 30px);
    }
    87.5% {
      clip: rect(9px, 500px, 16px, 30px);
    }
    100% {
      clip: rect(131px, 500px, 12px, 30px);
    }
  }
  @-webkit-keyframes glitch-animation-2 {
    0% {
      clip: rect(123px, 500px, 50px, 30px);
    }
    12.5% {
      clip: rect(115px, 500px, 81px, 30px);
    }
    25% {
      clip: rect(15px, 500px, 89px, 30px);
    }
    37.5% {
      clip: rect(105px, 500px, 33px, 30px);
    }
    50% {
      clip: rect(88px, 500px, 29px, 30px);
    }
    62.5% {
      clip: rect(82px, 500px, 39px, 30px);
    }
    75% {
      clip: rect(97px, 500px, 90px, 30px);
    }
    87.5% {
      clip: rect(91px, 500px, 70px, 30px);
    }
    100% {
      clip: rect(131px, 500px, 9px, 30px);
    }
  }
  @keyframes glitch-animation-2 {
    0% {
      clip: rect(123px, 500px, 50px, 30px);
    }
    12.5% {
      clip: rect(115px, 500px, 81px, 30px);
    }
    25% {
      clip: rect(15px, 500px, 89px, 30px);
    }
    37.5% {
      clip: rect(105px, 500px, 33px, 30px);
    }
    50% {
      clip: rect(88px, 500px, 29px, 30px);
    }
    62.5% {
      clip: rect(82px, 500px, 39px, 30px);
    }
    75% {
      clip: rect(97px, 500px, 90px, 30px);
    }
    87.5% {
      clip: rect(91px, 500px, 70px, 30px);
    }
    100% {
      clip: rect(131px, 500px, 9px, 30px);
    }
  }
}

@media screen and (min-width: 1020px) {
  #main-body #hero {
    width: 95%;
  }
  #main-body #hero p {
    font-size: 7rem;
    -webkit-transform: translate(2rem, -18rem);
            transform: translate(2rem, -18rem);
    letter-spacing: .4rem;
  }
  #main-body #hero .claudia {
    font-size: 7rem;
    padding: .2rem 1rem 0 1.9rem;
    margin-bottom: 9rem;
    letter-spacing: .4rem;
  }
  #main-body #hero .more-info .fa-arrow-right {
    font-size: 6rem;
    left: 16rem;
    bottom: 4rem;
  }
  #main-body #hero .more-info p {
    font-size: 1.3rem;
    margin: 8.5rem 0 0 22rem;
    letter-spacing: .3rem;
  }
  #main-body #hero .menu-fixed {
    -webkit-transform: translateY(-35rem);
            transform: translateY(-35rem);
    margin-left: 30%;
  }
  #main-body #hero .menu-fixed li {
    font-size: 1.5rem;
  }
  #main-body #hero .info-about-me {
    padding: 2%;
  }
  #main-body #hero .info-about-me p {
    font-size: 1.7rem;
    line-height: 2rem;
    letter-spacing: .01rem;
  }
  #main-body #hero .info-about-me .work-together-contact {
    font-size: 1.5rem;
  }
  @-webkit-keyframes glitch-animation-1 {
    0% {
      clip: rect(28px, 800px, 54px, 30px);
    }
    10% {
      clip: rect(58px, 800px, 123px, 30px);
    }
    20% {
      clip: rect(65px, 800px, 78px, 30px);
    }
    30% {
      clip: rect(72px, 800px, 112px, 30px);
    }
    40% {
      clip: rect(38px, 800px, 1px, 30px);
    }
    50% {
      clip: rect(55px, 800px, 71px, 30px);
    }
    60% {
      clip: rect(47px, 800px, 60px, 30px);
    }
    70% {
      clip: rect(14px, 800px, 28px, 30px);
    }
    80% {
      clip: rect(59px, 800px, 80px, 30px);
    }
    90% {
      clip: rect(58px, 800px, 97px, 30px);
    }
    100% {
      clip: rect(53px, 800px, 20px, 30px);
    }
  }
  @keyframes glitch-animation-1 {
    0% {
      clip: rect(28px, 800px, 54px, 30px);
    }
    10% {
      clip: rect(58px, 800px, 123px, 30px);
    }
    20% {
      clip: rect(65px, 800px, 78px, 30px);
    }
    30% {
      clip: rect(72px, 800px, 112px, 30px);
    }
    40% {
      clip: rect(38px, 800px, 1px, 30px);
    }
    50% {
      clip: rect(55px, 800px, 71px, 30px);
    }
    60% {
      clip: rect(47px, 800px, 60px, 30px);
    }
    70% {
      clip: rect(14px, 800px, 28px, 30px);
    }
    80% {
      clip: rect(59px, 800px, 80px, 30px);
    }
    90% {
      clip: rect(58px, 800px, 97px, 30px);
    }
    100% {
      clip: rect(53px, 800px, 20px, 30px);
    }
  }
  @-webkit-keyframes glitch-animation-2 {
    0% {
      clip: rect(67px, 800px, 29px, 30px);
    }
    10% {
      clip: rect(43px, 800px, 140px, 30px);
    }
    20% {
      clip: rect(16px, 800px, 110px, 30px);
    }
    30% {
      clip: rect(20px, 800px, 20px, 30px);
    }
    40% {
      clip: rect(36px, 800px, 137px, 30px);
    }
    50% {
      clip: rect(75px, 800px, 7px, 30px);
    }
    60% {
      clip: rect(11px, 800px, 125px, 30px);
    }
    70% {
      clip: rect(52px, 800px, 114px, 30px);
    }
    80% {
      clip: rect(90px, 800px, 90px, 30px);
    }
    90% {
      clip: rect(27px, 800px, 95px, 30px);
    }
    100% {
      clip: rect(42px, 800px, 116px, 30px);
    }
  }
  @keyframes glitch-animation-2 {
    0% {
      clip: rect(67px, 800px, 29px, 30px);
    }
    10% {
      clip: rect(43px, 800px, 140px, 30px);
    }
    20% {
      clip: rect(16px, 800px, 110px, 30px);
    }
    30% {
      clip: rect(20px, 800px, 20px, 30px);
    }
    40% {
      clip: rect(36px, 800px, 137px, 30px);
    }
    50% {
      clip: rect(75px, 800px, 7px, 30px);
    }
    60% {
      clip: rect(11px, 800px, 125px, 30px);
    }
    70% {
      clip: rect(52px, 800px, 114px, 30px);
    }
    80% {
      clip: rect(90px, 800px, 90px, 30px);
    }
    90% {
      clip: rect(27px, 800px, 95px, 30px);
    }
    100% {
      clip: rect(42px, 800px, 116px, 30px);
    }
  }
}

@media screen and (min-width: 1200px) {
  #main-body #hero {
    width: 95%;
  }
  #main-body #hero p {
    font-size: 8rem;
    -webkit-transform: translate(2rem, -18rem);
            transform: translate(2rem, -18rem);
    letter-spacing: .1rem;
  }
  #main-body #hero .claudia {
    font-size: 8rem;
    padding: .2rem 1rem 0 1.9rem;
    margin-bottom: 17rem;
    margin-left: 20rem;
    letter-spacing: 1rem;
  }
  #main-body #hero .more-info .fa-arrow-right {
    font-size: 7rem;
    left: 40%;
    bottom: 7rem;
  }
  #main-body #hero .more-info p {
    font-size: 2rem;
    margin: 4rem 0 0 50%;
    letter-spacing: .3rem;
  }
  #main-body #hero .menu-fixed {
    -webkit-transform: translateY(-35rem);
            transform: translateY(-35rem);
    margin-left: 46%;
  }
  #main-body #hero .menu-fixed li {
    font-size: 1.4rem;
  }
  #main-body #hero .info-about-me p {
    font-size: 2rem;
    line-height: 2.3rem;
  }
  #main-body #hero .info-about-me .second-paragraph-about {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  #main-body #hero .info-about-me .work-together-contact {
    font-size: 2.9rem;
  }
  @-webkit-keyframes glitch-animation-1 {
    0% {
      clip: rect(24px, 800px, 81px, 30px);
    }
    10% {
      clip: rect(69px, 800px, 137px, 30px);
    }
    20% {
      clip: rect(46px, 800px, 105px, 30px);
    }
    30% {
      clip: rect(50px, 800px, 22px, 30px);
    }
    40% {
      clip: rect(31px, 800px, 72px, 30px);
    }
    50% {
      clip: rect(84px, 800px, 14px, 30px);
    }
    60% {
      clip: rect(38px, 800px, 45px, 30px);
    }
    70% {
      clip: rect(6px, 800px, 65px, 30px);
    }
    80% {
      clip: rect(63px, 800px, 112px, 30px);
    }
    90% {
      clip: rect(30px, 800px, 123px, 30px);
    }
    100% {
      clip: rect(18px, 800px, 119px, 30px);
    }
  }
  @keyframes glitch-animation-1 {
    0% {
      clip: rect(24px, 800px, 81px, 30px);
    }
    10% {
      clip: rect(69px, 800px, 137px, 30px);
    }
    20% {
      clip: rect(46px, 800px, 105px, 30px);
    }
    30% {
      clip: rect(50px, 800px, 22px, 30px);
    }
    40% {
      clip: rect(31px, 800px, 72px, 30px);
    }
    50% {
      clip: rect(84px, 800px, 14px, 30px);
    }
    60% {
      clip: rect(38px, 800px, 45px, 30px);
    }
    70% {
      clip: rect(6px, 800px, 65px, 30px);
    }
    80% {
      clip: rect(63px, 800px, 112px, 30px);
    }
    90% {
      clip: rect(30px, 800px, 123px, 30px);
    }
    100% {
      clip: rect(18px, 800px, 119px, 30px);
    }
  }
  @-webkit-keyframes glitch-animation-2 {
    0% {
      clip: rect(16px, 800px, 67px, 30px);
    }
    10% {
      clip: rect(38px, 800px, 112px, 30px);
    }
    20% {
      clip: rect(55px, 800px, 26px, 30px);
    }
    30% {
      clip: rect(89px, 800px, 95px, 30px);
    }
    40% {
      clip: rect(71px, 800px, 64px, 30px);
    }
    50% {
      clip: rect(43px, 800px, 123px, 30px);
    }
    60% {
      clip: rect(58px, 800px, 73px, 30px);
    }
    70% {
      clip: rect(39px, 800px, 39px, 30px);
    }
    80% {
      clip: rect(82px, 800px, 46px, 30px);
    }
    90% {
      clip: rect(42px, 800px, 85px, 30px);
    }
    100% {
      clip: rect(81px, 800px, 108px, 30px);
    }
  }
  @keyframes glitch-animation-2 {
    0% {
      clip: rect(16px, 800px, 67px, 30px);
    }
    10% {
      clip: rect(38px, 800px, 112px, 30px);
    }
    20% {
      clip: rect(55px, 800px, 26px, 30px);
    }
    30% {
      clip: rect(89px, 800px, 95px, 30px);
    }
    40% {
      clip: rect(71px, 800px, 64px, 30px);
    }
    50% {
      clip: rect(43px, 800px, 123px, 30px);
    }
    60% {
      clip: rect(58px, 800px, 73px, 30px);
    }
    70% {
      clip: rect(39px, 800px, 39px, 30px);
    }
    80% {
      clip: rect(82px, 800px, 46px, 30px);
    }
    90% {
      clip: rect(42px, 800px, 85px, 30px);
    }
    100% {
      clip: rect(81px, 800px, 108px, 30px);
    }
  }
}
/*# sourceMappingURL=main.css.map */