html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, address, big, em, img, s, small, strike, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    vertical-align: baseline;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Tomorrow', sans-serif;
    background-color: var(--blue-main);
    --blue-main: #100b22;
    --orange-main: #e0551f;
    --orange-rgba: rgba(224, 85, 31, 0.5);
    --glitch: #00ffff;
}

#main-body{
    overflow: hidden;
    #hero{
        width: 100%;
        height: 100vh;
        position: absolute;
        border: .05rem solid var(--orange-rgba);
        margin: 1rem;
        height: 95%;
        width: 91%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .claudia{
            font-size: 3.5rem;
            font-weight: bolder;
            color: white;
            padding: .2rem 1rem .5rem 1rem;
            position: relative;

    
            &::before, 
            &::after{
                padding: .2rem 1rem .5rem 1rem;
                color: white;
                content: attr(data-glitch);
                position: absolute;
                width: 90%;
                height: 90%;
                background: var(--blue-main);
                overflow: hidden;
                top: 0;
            }

            &::before{
                left: 3px;
                text-shadow: -2px 0 var(--orange-main);
                animation-name: glitch-animation-1;
                animation-duration: 6s;
                animation-timing-function: linear;
                animation-delay: 4s;
                animation-iteration-count: infinite;
                animation-direction: reverse-alternate;
            }

            &::after{
                left: -3px;
                text-shadow: -2px 0 var(--glitch);
                animation-name: glitch-animation-2;
                animation-duration: 6s;
                animation-timing-function: linear;
                animation-delay: 4s;
                animation-iteration-count: infinite;
                animation-direction: reverse-alternate;
            }
        }
        .ziemba{
            font-size: 3.5rem;
            font-weight: bolder;
            color: white;
            padding: .2rem 1rem .5rem 1rem;
            position: relative;

    
            &::before, 
            &::after{
                padding: .2rem 1rem .5rem 1rem;;
                color: white;
                content: attr(data-glitch01);
                position: absolute;
                width: 90%;
                height: 90%;
                background: var(--blue-main);
                overflow: hidden;
                top: 0;
            }

            &::before{
                left: 3px;
                text-shadow: -2px 0 var(--glitch);
                animation-name: glitch-animation-1;
                animation-duration: 5s;
                animation-timing-function: linear;
                animation-delay: 4s;
                animation-iteration-count: infinite;
                animation-direction: reverse-alternate;
            }

            &::after{
                left: -3px;
                text-shadow: -2px 0 var(--orange-main);
                animation-name: glitch-animation-2;
                animation-duration: 5s;
                animation-timing-function: linear;
                animation-delay: 4s;
                animation-iteration-count: infinite;
                animation-direction: reverse-alternate;
            }
        }

        .more-info{

            p{
            font-size: .9rem;
            color: var(--orange-main);
            padding: 0 1rem 1rem 1rem;
            }
        }
        .toggle-btn {
            position: fixed;
            margin: 1rem;
            width: 40px;
            height: 12px;
            z-index: 3;
            transform: translateY(-33rem);
            
            span.one {
                position: absolute;
                width: 40px;
                height: 2px;
                background: #fff;
            }

            span.two {
                position: absolute;
                width: 40px;
                height: 2px;
                background: #fff;
                margin-top: 12px;
            }
        }
        .menu {
            z-index: 2;
            position: absolute;
            background: var(--blue-main);
            height: 100vh;
            width: 100%;
            top: -100%;
            overflow: hidden;

            .data {
                padding: 11rem 0 0 5rem;
                text-align: left;


                ul li{
                    font-size: 2rem;
                    margin-bottom: 1.5rem;
                    font-weight: bold;
                    position: relative;
                    transform: translateY(7rem);

                    a{
                        color: white;
                        position: relative;

                        &:hover{
                            color: var(--orange-main);
                        }

                        &::after{
                            content: '';
                            position: absolute;
                            top:50%;
                            transform:translateY(380%);
                            width: 0;
                            left: 0;
                            height: .3rem;
                            background: currentColor;
                            transition: width 0.3s ease-in;
                        }

                        &:hover::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}          

@keyframes glitch-animation-1{
        $steps: 8;
        @for $i from 0 through $steps{
            #{percentage($i*(1/$steps))}{
            clip: rect(random(150)+px, 350px, random(90)+px, 30px)
        }
    }
}

@keyframes glitch-animation-2{
        $steps: 8;
        @for $i from 0 through $steps{
            #{percentage($i*(1/$steps))} {
            clip: rect(random(150)+px, 350px, random(90)+px, 30px)
        }
    }
}