html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, address, big, em, img, s, small, strike, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  vertical-align: baseline;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Tomorrow', sans-serif;
  background-color: var(--blue-main);
  --blue-main: #100b22;
  --orange-main: #e0551f;
  --orange-rgba: rgba(224, 85, 31, 0.5);
  --glitch: #00ffff;
}

#main-body {
  overflow: hidden;
}

#main-body #hero {
  width: 100%;
  height: 100vh;
  position: absolute;
  border: 0.05rem solid var(--orange-rgba);
  margin: 1rem;
  height: 95%;
  width: 91%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#main-body #hero .claudia {
  font-size: 3.5rem;
  font-weight: bolder;
  color: white;
  padding: .2rem 1rem .5rem 1rem;
  position: relative;
}

#main-body #hero .claudia::before, #main-body #hero .claudia::after {
  padding: .2rem 1rem .5rem 1rem;
  color: white;
  content: attr(data-glitch);
  position: absolute;
  width: 90%;
  height: 90%;
  background: var(--blue-main);
  overflow: hidden;
  top: 0;
}

#main-body #hero .claudia::before {
  left: 3px;
  text-shadow: -2px 0 var(--orange-main);
  -webkit-animation-name: glitch-animation-1;
          animation-name: glitch-animation-1;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: reverse-alternate;
          animation-direction: reverse-alternate;
}

#main-body #hero .claudia::after {
  left: -3px;
  text-shadow: -2px 0 var(--glitch);
  -webkit-animation-name: glitch-animation-2;
          animation-name: glitch-animation-2;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: reverse-alternate;
          animation-direction: reverse-alternate;
}

#main-body #hero .ziemba {
  font-size: 3.5rem;
  font-weight: bolder;
  color: white;
  padding: .2rem 1rem .5rem 1rem;
  position: relative;
}

#main-body #hero .ziemba::before, #main-body #hero .ziemba::after {
  padding: .2rem 1rem .5rem 1rem;
  color: white;
  content: attr(data-glitch01);
  position: absolute;
  width: 90%;
  height: 90%;
  background: var(--blue-main);
  overflow: hidden;
  top: 0;
}

#main-body #hero .ziemba::before {
  left: 3px;
  text-shadow: -2px 0 var(--glitch);
  -webkit-animation-name: glitch-animation-1;
          animation-name: glitch-animation-1;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: reverse-alternate;
          animation-direction: reverse-alternate;
}

#main-body #hero .ziemba::after {
  left: -3px;
  text-shadow: -2px 0 var(--orange-main);
  -webkit-animation-name: glitch-animation-2;
          animation-name: glitch-animation-2;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: reverse-alternate;
          animation-direction: reverse-alternate;
}

#main-body #hero .more-info p {
  font-size: .9rem;
  color: var(--orange-main);
  padding: 0 1rem 1rem 1rem;
}

#main-body #hero .toggle-btn {
  position: fixed;
  margin: 1rem;
  width: 40px;
  height: 12px;
  z-index: 3;
  -webkit-transform: translateY(-33rem);
          transform: translateY(-33rem);
}

#main-body #hero .toggle-btn span.one {
  position: absolute;
  width: 40px;
  height: 2px;
  background: #fff;
}

#main-body #hero .toggle-btn span.two {
  position: absolute;
  width: 40px;
  height: 2px;
  background: #fff;
  margin-top: 12px;
}

#main-body #hero .menu {
  z-index: 2;
  position: absolute;
  background: var(--blue-main);
  height: 100vh;
  width: 100%;
  top: -100%;
  overflow: hidden;
}

#main-body #hero .menu .data {
  padding: 11rem 0 0 5rem;
  text-align: left;
}

#main-body #hero .menu .data ul li {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  position: relative;
  -webkit-transform: translateY(7rem);
          transform: translateY(7rem);
}

#main-body #hero .menu .data ul li a {
  color: white;
  position: relative;
}

#main-body #hero .menu .data ul li a:hover {
  color: var(--orange-main);
}

#main-body #hero .menu .data ul li a::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(380%);
          transform: translateY(380%);
  width: 0;
  left: 0;
  height: .3rem;
  background: currentColor;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

#main-body #hero .menu .data ul li a:hover::after {
  width: 100%;
}

@-webkit-keyframes glitch-animation-1 {
  0% {
    clip: rect(144px, 350px, 36px, 30px);
  }
  12.5% {
    clip: rect(118px, 350px, 3px, 30px);
  }
  25% {
    clip: rect(108px, 350px, 50px, 30px);
  }
  37.5% {
    clip: rect(103px, 350px, 11px, 30px);
  }
  50% {
    clip: rect(146px, 350px, 13px, 30px);
  }
  62.5% {
    clip: rect(145px, 350px, 13px, 30px);
  }
  75% {
    clip: rect(87px, 350px, 75px, 30px);
  }
  87.5% {
    clip: rect(35px, 350px, 24px, 30px);
  }
  100% {
    clip: rect(71px, 350px, 11px, 30px);
  }
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(144px, 350px, 36px, 30px);
  }
  12.5% {
    clip: rect(118px, 350px, 3px, 30px);
  }
  25% {
    clip: rect(108px, 350px, 50px, 30px);
  }
  37.5% {
    clip: rect(103px, 350px, 11px, 30px);
  }
  50% {
    clip: rect(146px, 350px, 13px, 30px);
  }
  62.5% {
    clip: rect(145px, 350px, 13px, 30px);
  }
  75% {
    clip: rect(87px, 350px, 75px, 30px);
  }
  87.5% {
    clip: rect(35px, 350px, 24px, 30px);
  }
  100% {
    clip: rect(71px, 350px, 11px, 30px);
  }
}

@-webkit-keyframes glitch-animation-2 {
  0% {
    clip: rect(65px, 350px, 86px, 30px);
  }
  12.5% {
    clip: rect(90px, 350px, 74px, 30px);
  }
  25% {
    clip: rect(32px, 350px, 52px, 30px);
  }
  37.5% {
    clip: rect(82px, 350px, 81px, 30px);
  }
  50% {
    clip: rect(133px, 350px, 13px, 30px);
  }
  62.5% {
    clip: rect(76px, 350px, 18px, 30px);
  }
  75% {
    clip: rect(53px, 350px, 58px, 30px);
  }
  87.5% {
    clip: rect(107px, 350px, 84px, 30px);
  }
  100% {
    clip: rect(129px, 350px, 32px, 30px);
  }
}

@keyframes glitch-animation-2 {
  0% {
    clip: rect(65px, 350px, 86px, 30px);
  }
  12.5% {
    clip: rect(90px, 350px, 74px, 30px);
  }
  25% {
    clip: rect(32px, 350px, 52px, 30px);
  }
  37.5% {
    clip: rect(82px, 350px, 81px, 30px);
  }
  50% {
    clip: rect(133px, 350px, 13px, 30px);
  }
  62.5% {
    clip: rect(76px, 350px, 18px, 30px);
  }
  75% {
    clip: rect(53px, 350px, 58px, 30px);
  }
  87.5% {
    clip: rect(107px, 350px, 84px, 30px);
  }
  100% {
    clip: rect(129px, 350px, 32px, 30px);
  }
}
/*# sourceMappingURL=main.css.map */